

- each file in files
    tr(data-fileid=file.fileid)
        td #{file.name}
        td #{file.size}
        td #{file.uploaded.toDateString()}
        td
            a.mailto(href="mailto:"+file.responderemail) #{file.responderemail}
        td
            div.btn-group
                button.btn.dropdown-toggle(data-toggle="dropdown") Действия
                    span(class="caret")
                ul.dropdown-menu
                    li
                        a.downloadfile(href="downloadfile?fileid="+file.fileid) Скачать
                    //li
                        a.signfile(href="javascript:void(0)") Подписать
                    li
                        a.sendfile(href="/sendfile") Отправить
                    li
                        a.removefile(href="removefile?fileid="+file.fileid) Удалить

